<div class="service-page">
  SERVICE DETAILS
  <div class="service2-outer">
    <div class="service2">

      <mat-grid-list cols="3" rowHeight="280px">
        <mat-grid-tile>
          <mat-card class="service-matcard">
            <mat-card-content>
              <div class="card1 a">
                <img src="{{currentService.image}}" />
                <h2>{{currentService.title}} </h2>
                <p>{{currentService.description}}</p>
                <p><strong>Duration:</strong>25 Days</p>
                <p><strong>Price:</strong>$1000</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>