<div class="bg-image">
  <div class="content-dv">
    <h2>Welcome to NextDoorIt Solutions</h2>
    <p>Design Anything, Build Everything</p>
  </div>

</div>
<div class="main-con">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">What We Provide</h2>
    </div>
    <ul class="timeline">
      <li><a href="../../assets/img/itservice.jpeg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/itservice.jpeg"
              alt="..." /></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IT Services</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">At Next Door IT Solutions, we offer a comprehensive range of IT services to meet your
              technology needs. Our skilled team of professionals specializes in various areas, including computer
              repair, LAN installation, website development, remote troubleshooting, and software installation. Whether
              you need assistance with fixing hardware issues, setting up a secure and efficient network, creating a
              professional website, resolving technical problems remotely, or installing software applications, we've
              got you covered. Our dedicated experts are committed to delivering prompt and reliable IT solutions to
              keep your systems running smoothly and your business thriving. With Next Door IT Solutions, you can trust
              us to provide top-notch IT services that meet your specific requirements and exceed your expectations.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/itproducts.webp" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/itproducts.webp"
              alt="..." /></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IT Products</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Discover a wide range of high-quality computer accessories and printer supplies at
              Next Door IT Solutions. We understand the importance of having reliable and efficient equipment to enhance
              your productivity and meet your daily computing needs. Browse through our extensive collection of computer
              accessories, including keyboards, mice, headphones, USB drives, and more, to find the perfect additions to
              your setup. We also offer a comprehensive selection of printer supplies, such as ink cartridges and
              toners, to ensure optimal printing performance. With our commitment to providing top-notch products, you
              can trust that each item is carefully selected for its quality and compatibility. Elevate your computing
              experience with our premium IT products, designed to deliver exceptional performance and reliability. Shop
              with confidence at Next Door IT Solutions, your one-stop destination for all your computer accessory and
              printer supply needs.</p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/ittrainings.webp" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/ittrainings.webp"
              alt="..." /></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IT Trainings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">At Next Door IT Solutions, we offer a diverse range of IT training programs designed
              to empower individuals with the knowledge and skills needed to thrive in today's technology-driven world.
              Whether you're a beginner looking to explore the fundamentals or an experienced professional seeking to
              advance your expertise, our comprehensive IT training courses cater to learners of all levels. From
              programming languages like Python and Java to web development, database management, cybersecurity, and
              cloud computing, our expert instructors will guide you through hands-on training sessions, interactive
              workshops, and real-world projects. Stay ahead of the curve and unlock new career opportunities with our
              industry-relevant IT training programs. Gain practical skills, stay up-to-date with the latest
              technologies, and become proficient in cutting-edge IT practices. Join us at Next Door IT Solutions and
              embark on a transformative learning journey that will equip you with the tools and knowledge to excel in
              the fast-paced world of IT.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            IT Solutions!
          </h4>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            IT
            <br />
            Services
          </h4>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IT Services</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">At Next Door IT Solutions, we offer a comprehensive range of IT services to meet your
              technology needs. Our skilled team of professionals specializes in various areas, including computer
              repair, LAN installation, website development, remote troubleshooting, and software installation. Whether
              you need assistance with fixing hardware issues, setting up a secure and efficient network, creating a
              professional website, resolving technical problems remotely, or installing software applications, we've
              got you covered. Our dedicated experts are committed to delivering prompt and reliable IT solutions to
              keep your systems running smoothly and your business thriving. With Next Door IT Solutions, you can trust
              us to provide top-notch IT services that meet your specific requirements and exceed your expectations.</p>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>