.header-main ul {
  background-color: #7b1fa2;
  margin: 0;
  padding: 15px;
  text-align: right;
}

.header-main ul a {
  color: #fff;
  padding: 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.header-main {
  background: #7b1fa2;
}

.logo-head {
  float: left;
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}