<div class="header-main">
  <div class="logo-head">
    <span routerLink="/">Next Door It Solutions</span>
  </div>
  <ul>
    <li>
      <a routerLink="/product/list">Products</a>
      <a *ngIf="isLogin" routerLink="/service/list">Services</a>
      <a *ngIf="isLogin" routerLink="/career">Training</a>
      <a routerLink="/career">Careers</a>
      <a routerLink="/aboutUs">About Us</a>
      <a routerLink="/contactUs">Contact Us</a>
      <a *ngIf="!isLogin" (click)="handleLoginAction()">Login</a>
      <a *ngIf="!isLogin" (click)="handleSignupAction()">Sign Up</a>
      <a *ngIf="isLogin" (click)="handleLogoutAction()">Log out</a>
    </li>
  </ul>
</div>