<div class="service-page">
  PRODUCT DETAILS
  <div class="service2-outer">
    <div class="service2">

      <mat-grid-list cols="3" rowHeight="280px">
        <mat-grid-tile>
          <mat-card class="service-matcard">
            <mat-card-content>
              <div class="card1 a">
                <img src="{{currentProduct.image}}" />
                <h2>{{currentProduct.title}} </h2>
                <p>{{currentProduct.description}}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>