.service-form {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0px;
}

.submit-btn button {
  border-radius: 30px;
  background-color: #7b1fa2;
  color: #fff;
  padding: 5px 45px;
  font-size: 15px;
  margin-top: 20px;
  // cursor: pointer;
}

.service-form h2 {
  color: #000;
}