<div class="contact-us"></div>
<div class="footer" id="signup">
  <div class="footer-link">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile>
        <ul class="social-ul">
          <li><strong>Social Links</strong></li>
          <div class="social-dv">
            <p><a><i class="fa fa-facebook" aria-hidden="true"></i>facebook</a></p>
            <p><a><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a></p>
            <p><a><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></p>
          </div>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <ul>
          <li><a>Privacy policy</a></li>
          <li><a>Reviews</a></li>
          <li><a>Support policy</a></li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <ul>
          <li><a>Terms & Services</a></li>
          <li><a>Submit a Ticket</a></li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Help Center</a></li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ul>
    <li></li>
  </ul>
  <h2 class="last-head">All right reserved @Next Door IT Solutions</h2>
</div>